<div class="container">

  <header>
    <h1> Digital Devolution </h1>
    <p>
      buy and sell vinyl
    </p>
  </header>
  <hr>

  {{outlet}}
  <hr>
  <footer>
    {{#link-to 'index'}}Home{{/link-to}}
  </footer>
</div>
